{% include site-title.html %}

<div class="wrapper">
  <div class="trigger site-navigation">
    <a class="page-link" href="{{site.url}}{{site.baseurl}}">HOME</a>

    {% for sitePage in site.pages %}
    {% if sitePage.title %}

    <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
    {% endif %}
    {% endfor %}
  </div>
</div>

<!-- {% for item in site.data.navigation.languages %}
  {% for link in item.language.links %}

    {% if link.data.url contains "http" %}
      {% assign target = _blank %}
      {% assign url = link.data.url %}
    {% elsif item.language.name != site.lang %}
      {% assign url = link.data.url | prepend: item.language.route %}
    {% else %}
      {% assign url = link.data.url | prepend: "haywe" %}
    {% endif %}

    <a class="page-link" href="{{ url }}" target="{{ target }}">{{ link.data.title }}</a>
  {% endfor %}
{% endfor %} -->
