<!DOCTYPE html>
<html lang="{{ site.Language.Lang }}" class="dark">
<head>
    {{ partial "head.html" . }}
    {{ block "head" . }}{{ end }}
</head>
<body class="font-display bg-background-light dark:bg-background-dark text-slate-900 dark:text-slate-100 min-h-screen flex flex-col group/design-root overflow-x-hidden">
    <div class="layout-container flex h-full grow flex-col w-full">
        <div class="px-4 md:px-10 lg:px-40 flex flex-1 justify-center py-5">
            <div class="layout-content-container flex flex-col max-w-[1200px] w-full flex-1">
                {{ partial "header.html" . }}

                <main class="w-full">
                    {{ block "main" . }}{{ end }}
                </main>
                
            </div>
        </div>
        {{ partial "footer.html" . }}
    </div>
</body>
</html>
