<article class="post-list h-feed" itemscope itemtype="https://schema.org/BlogPosting">
  <div class="post-header">
    <section>
      <h2 class="p-name post-title{{ if .Params.draft }} draft{{end}}" itemprop="headline">
        {{ trim .Title " " }}
        {{ if .Params.favorite }}
          {{ partial "font-awesome.html" (dict "iconName" "star-solid" "custom" false) }}
        {{end}}
      </h2>
    </section>

    {{ partial "post-info.html" . }}
  </div>

  {{ if not .Site.Params.disableSummary }}
    <div class="content post-summary p-summary" itemprop="description">
      {{ .Summary | transform.Plainify }}
    </div>
  {{ end }}
  {{ if and (.Truncated) (.Site.Params.readMore) }}
    <div class="read-more">
      <a class="u-url" href="{{ .RelPermalink }}" itemprop="url" aria-label="{{ .Title }}">
        {{ i18n "readMore" }}
        <span class="visually-hidden">{{ i18n "readAbout" }} {{ .Title }}</span>
      </a>
    </div>
  {{ end }}
</article>
